@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
}

.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .title {
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: left;
  margin-top: 20px;
} */

.subtitle {
  font-size: 0.8rem;
  text-align: left;
  margin-top: 5;
  line-height: 1.5rem;
}

.title-p {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

/* .p-text {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
} */

.hero-container {
  padding-top: 10vh;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  color: #080808;
}

/* conatcts */

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: transparent;
  perspective: 1000px;
  margin-right: 10px;
  background-color: #fff;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
}

/* .cont-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
} */

/* .btn-morph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn-morph .pt {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-morph .pt a {
  position: absolute;

  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 5px;
  padding: 10px;
  letter-spacing: 1px;
  color: black;

  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.btn-morph .pt:hover a {
  letter-spacing: 3px;
}
.btn-morph .pt a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
}
.btn-morph .pt:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.btn-morph .pt::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -1px;
  width: 30px;
  height: 10px;
  background: #0a6ebd;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.btn-morph .pt:hover::before {
  bottom: 0;
  height: 50%;
  width: 70%;
  border-radius: 30px;
} */

/* .btn-morph .pt::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -1px;
  width: 30px;
  height: 10px;
  background: #ecf9ff;
  border-radius: 2px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.btn-morph .pt:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
} */

.subtitle-p {
  font-size: 1rem;
  text-align: left;
  margin-top: 5;
  line-height: 1.5rem;
  padding: 1rem;
  display: block;
}

.about-morph {
  color: #03001c;
  padding: 3rem;
  border-radius: 50px;
  background: #fff;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* card */
.card {
  width: 290px;
  height: 350px;
  background: #fff;
  transition: all 0.6s;
  border-radius: 10px;

  font-size: 30px;
  font-weight: 900;
  margin-right: 20px;
  margin: 20px;
  padding: 1rem;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 18px 18px 36px #b3b3b3, -18px -18px 36px #ffffff;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #4682a9;
  background-color: #164b60;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #4682a9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #1d5d9b;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #164b60;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/* top buttn */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border-radius: calc(45px / 2);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: #164b60;
  /* background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb); */
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2.2em;
  color: white;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 15px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 15px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

/* contacts */
